<html>
    <head>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <title>online chat application </title>
        
        <body background="messagin.jpg">
            
     <div class="container">    
          
         <nav class="navbar navbar-inverse navbar-toggle-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
       
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
            </div>
            </div>
        </nav>
                

 
   <div class="container">     
         <u><h2 style="color: white;"><b><marquee>welcome to online chat application</marquee></b></h2></u>
             
     </div>    
  <hr>
  
  <nav class="navbar navbar-inverse navbar-toggle-bottom">
                    <div class="navbar-footer">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
          <li><a align="center" href="/loginsubmit"l>start a conversation....</a></h2></li>
            </div>
           </div>
                        
                </nav>
 </div> </div>
                           
   
      </body>
</html>