<!DOCTYPE html>
<html>
<head>
	<title>signup</title>
	<style type="text/css">
		body{
			background-color: grey;
		}
	</style>
</head>
<body>
<h1>u successfully created ur account</h1>
<h2>go back and login to "chat with a frnd"</h2>

<form method="get" action="/search" >
<input type="text" placeholder="search" name="search">
<input type="password" placeholder="password" name="pwd">
<input type="submit" name="" >
</form>

</body>
</html>